
<h1><strong>Join Socl,</strong> It's easy and free</h1>
<%= set_focus_to_id 'user_email' %>

<%= form_for(:user, @user, :url => registration_path(:user)) do |f| %>
  <p><%= f.label :email %><br /><img style="display:block; float:right;width:32px;height:32px;padding:5px;" id="image" src='http://www.gravatar.com/avatar/'  />

  <%= f.text_field :email  , :title=>"Enter your email. Do not worry - we hate spam more than you do.", :class => "input-tip" %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password, :title=>"Enter a secured password.", :class => "input-tip" %></p>

<!--  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p> -->
  <div title="Please select your timezone - this is important unless you want a really screwed notification system.", class = "input-tip"  >
  <p><%= f.label :timezone %><br />
  <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones%>
  </div>
  <p><%= f.submit "Sign up", :class=>"large Museo-500"%></p>
<% end %>

