<div id="calendar-container" class="Museo-500">
<%= form_for @calendar do |f| %>

  <div class="input-form">
    <div id="input-form-left">
    <%= f.label :event, :id => "input-form-event-label"%>
    <%= f.text_field :event ,:title=>"e.g.: Haircut, Important Meeting, Buy Groceries",:class=>"input-tip-bottom", :tabindex => '1'%>
    </div>

    <div id="input-form-middle">
    <%= f.label :event_time, :id => "input-form-middle-label" %>
    <%= f.text_field :event_time ,:title=>"e.g.:In 5 minutes, Next Tuesday 5pm, Now, Today 5pm",:class=>"input-tip-bottom"%>
    </div>

   <div id="input-form-right">
    <%= f.label :event_location, :id => "input-form-where-label" %>
    <%= f.text_field :event_location,:title=>"e.g.:White House Washington, Taj Mahal India",:class=>"input-tip-bottom" %>
    </div>
  </div>
  <br/>
  <br/>
  <div class="clear"></div>
  <div>
    <%= f.submit "Add Event", :class=>"Museo-500" %>
  </div>
<span id="loading" style="display: none;"><img alt="Ajax-loader" src="/images/ajax-loader.gif" /></span> 
  <div>
    <% if current_user.share_twitter==true  %>
     <img src="images/twitter.png" title="Twitter Share is enabled" class="input-tip-bottom" style="opacity: 0.3"/>
    <% end %>
    <% if current_user.share_facebook==true  %>
     <img src="images/facebook.png" title="Facebook Share is enabled", class="input-tip-bottom" style="opacity: 0.3"/>
    <% end %>
    <% if current_user.share_foursquare==true  %>
     <img src="images/foursquare.png" title="Foursquare Share is enabled", class="input-tip-bottom" style="opacity: 0.3"/>
    <% end %>

  </div>

<% end %>
</div>

