<%= form_for @calendar do |f| %>

  <div class="input-form">
    <div id="input-form-left">
    <%= f.label :event, :id => "input-form-event-label"%>
    <%= f.text_field :event ,:title=>"e.g.: Haircut, Important Meeting, Buy Groceries",:class=>"input-tip-bottom"%>
    </div>

    <div id="input-form-middle">
    <%= f.label :when, :id => "input-form-middle-label" %>
    <%= f.text_field :when ,:title=>"e.g.:In 5 minutes, Next Tuesday 5pm, Now, Today 5pm",:class=>"input-tip-bottom"%>
    </div>

   <div id="input-form-right">
    <%= f.label :where, :id => "input-form-where-label" %>
    <%= f.text_field :where,:title=>"e.g.:White House Washington, Taj Mahal India",:class=>"input-tip-bottom" %>
    </div>
  </div>
  <br/>
  <br/>
  <div class="clear"></div>
  <div>
    <%= f.submit "     Submit     " %>
  </div>


<% end %>

