<!--<% if @feed_items %> -->
  <% unless @feed_items.empty? %>
    <% if @feed_items_today.count > 0 %>
    <div>
    Today
      <table id="feed_item_today" class="round" summary="User microposts">
            <%= render :partial => 'shared/feed_item', :collection => @feed_items_today %>
      </table>
      <div class="apple_pagination" id="pageinfo">
            <!--<%= sanitize(page_entries_info @feed_items_today)%> -->
            <%= will_paginate @feed_items_today, :container => false %>
      </div>
    </div>
    <div id="profile-bevel"><hr></div>
    <% end %>
    <% if @feed_items_tomorrow.count > 0 %>
    <div>
    Tomorrow
      <table id="feed_item_tomorrow" class="round" summary="User microposts">
            <%= render :partial => 'shared/feed_item', :collection => @feed_items_tomorrow %>
      </table>
      <div class="apple_pagination" id="pageinfo">
            <!--<%= sanitize(page_entries_info @feed_items_tomorrow)%> -->
            <%= will_paginate @feed_items_tomorrow, :container => false %>
      </div>
    </div>
    <div id="profile-bevel"><hr></div>
    <% end %>
     <% if @feed_items_future.count > 0 %>
    <div>
      Near Future
      <table id="feed_item_future" class="round" summary="User microposts">
        <%= render :partial => 'shared/feed_item', :collection => @feed_items_future %>
      </table>
      <div class="apple_pagination" id="pageinfo">
            <!--<%= sanitize(page_entries_info @feed_items_future)%> -->
            <%= will_paginate @feed_items_future, :container => false %>
      </div>

    </div>
    <div id="profile-bevel"><hr></div>
    <%end %>
    <% if @feed_items_last_week.count > 0 %>
    <div>
      Past
      <table id="feed_item_past" class="round" summary="User microposts">
        <%= render :partial => 'shared/feed_item', :collection => @feed_items_last_week %>
      </table>
      <div class="apple_pagination" id="pageinfo">
            <!--<%= sanitize(page_entries_info @feed_items_last_week)%> -->
            <%= will_paginate @feed_items_last_week, :container => false %>
      </div>

    </div>
    <% end %>

  <% end %>
<!--<%end %> -->

