<tr>
  <td>
    <span>
<!--    :controller => :calendars, :action=>:edit, :id=>feed_item.id
          Milis:<%= feed_item.when.to_i%>-->
         <% if feed_item.important %>
             <span class="important-event">
             <%= image_tag("exclamation.png") %>

         <% end %>
          <input type="hidden" name="<%=feed_item.event%>" value="<%= feed_item.when.to_i%>"></input>
          <%=link_to feed_item.event , :controller => :calendars, :action=>:edit,:id=>feed_item.id, :popup => true %>
          <% if feed_item.important %>
           </span>
          <% end %>
    </span>
   <!-- <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span> -->
     <span class="timestamp">

      <% if feed_item.when != nil %>
                 Scheduled at around <span class="when"><%= feed_item.when.strftime("%I:%M %p") %></span>&nbsp;on
                 <span class="when-date"><%= feed_item.when.strftime("%x") %></span>
      and at
      <% end %>
      <% if feed_item.where != nil %>
        <span class="where"><a id="map-<%=feed_item.id%>" href="#map-<%=feed_item.id%>" ><%=feed_item.where %>.</a><img id="img-<%=feed_item.id%>" class="map-icon" src="/images/gmap_pin_orange.png" size="15x15"/></span>
      <%end%>
    </span>
  </td>
  <% if current_user == feed_item.user %>
  <td>
    <%= link_to image_tag("delete.png"),
                                      feed_item,
                                     :method => :delete,
                                     :title => feed_item.event, :remote=> true, :class=>"delete-icon" %>
  </td>
  <div style="display:none"><div id="map-<%=feed_item.id%>" rel="<%=feed_item.latitude%>,<%=feed_item.longitude%>" style="width: 600px; height: 400px"></div></div>

  <% end %>



</tr>

