<div id="table-container">
<!--<% if @feed_items %> -->
<% unless @feed_items.empty? %>
<div id="search-form-p-container1">
    <%= form_for @search, :url => root_path, :html => {:method => :get} do |f| %>
        <%= f.hidden_field :event_or_category_str_contains, :value=>"Important" %>
    	<%= submit_tag "Important", :name => nil, :id=>"search-submit-1" %>			
    <%end%>	
</div>    
<div id="search-form-p-container2">
    <%= form_for @search, :url => root_path, :html => {:method => :get} do |f| %>
        <%= f.hidden_field :whendate_equals, :value=>Time.now.to_date %>
    	<%= submit_tag "Today", :name => nil, :id=>"search-submit-1" %>		
    <%end%>
</div>
<div id="search-form-p-container3">		
    <%= form_for @search, :url => root_path, :html => {:method => :get} do |f| %>
     	<%= f.hidden_field :whendate_equals, :value=>Time.now.to_date + 1.day %>
    	<%= submit_tag "Tomorrow", :name => nil, :id=>"search-submit-1" %>  	
    <%end %>
</div>
  <div class="clear"></div>
 <% if @search_result%>
		 <% if @search_result.count > 0 %>
		 
		    <div id="feed_item_today_container">
		    	
		    <h2 class="duration-h2 Museo-500">Search Results | <%= link_to "All Results", root_path, :id=>"all-results",:class=>"Museo-500"%></h2> 
		      <table id="feed_item_today" class="round" summary="User microposts">
		            <%= render :partial => 'shared/feed_item', :collection => @search_result %>
		      </table>
		      <%= render :partial => "shared/hidden_map_inline_edit", :collection => @search_result %>
		      <div class="apple_pagination" id="pageinfo">
		            <!--<%= sanitize(page_entries_info @feed_items_today)%> -->
		            <%= will_paginate @search_result, :container => false %>
		      </div>
		    </div>
		  <%else%>
		   <div id="feed_item_today_container">		    	
		    <h2 class="duration-h2 Museo-500">Search Results | <%= link_to "All Results", root_path, :id=>"all-results",:class=>"Museo-500"%></h2> 
		      <table id="feed_item_today" class="round" summary="User microposts">
		            <tr><td><p>Nothing found.</p></td></tr>
		      </table>
		    </div>
		  		
		  <% end %>
 <%else%>
     <% if @feed_items_today.count > 0 %>
    <div id="feed_item_today_container">
    <h2 class="duration-h2 Museo-500">Today</h2>
      <table id="feed_item_today" class="round" summary="User microposts">
            <%= render :partial => 'shared/feed_item', :collection => @feed_items_today %>
      </table>
      <%= render :partial => "shared/hidden_map_inline_edit", :collection => @feed_items_today %>
      <div class="apple_pagination" id="pageinfo">
            <!--<%= sanitize(page_entries_info @feed_items_today)%> -->
            <%= will_paginate @feed_items_today, :container => false %>
      </div>
    </div>
    <% end %>
    <% if @feed_items_tomorrow.count > 0  %>
    <div id="feed_item_tomorrow_container">
    <h2 class="duration-h2 Museo-500">Tomorrow</h2>
      <table id="feed_item_tomorrow" class="round" summary="User microposts">
            <%= render :partial => 'shared/feed_item', :collection => @feed_items_tomorrow %>
      </table>
      <%= render :partial => "shared/hidden_map_inline_edit", :collection => @feed_items_tomorrow %>
      <div class="apple_pagination" id="pageinfo">
            <!--<%= sanitize(page_entries_info @feed_items_tomorrow)%> -->
            <%= will_paginate @feed_items_tomorrow, :container => false %>
      </div>
    </div>
    <% end %>
     <% if @feed_items_future.count > 0  %>
    <div id="feed_item_future_container">
    <h2 class="duration-h2 Museo-500">Future</h2>
      <table id="feed_item_future" class="round" summary="User microposts">
        <%= render :partial => 'shared/feed_item', :collection => @feed_items_future %>
      </table>
      <%= render :partial => "shared/hidden_map_inline_edit", :collection => @feed_items_future %>
      <div class="apple_pagination" id="pageinfo">
            <!--<%= sanitize(page_entries_info @feed_items_future)%> -->
            <%= will_paginate @feed_items_future, :container => false %>
      </div>

    </div>
    <%end %>
    <% if @feed_items_last_week.count > 0   %>
    <div id="feed_item_past_container">
    <h2 class="duration-h2 Museo-500">Past</h2>
      <table id="feed_item_past" class="round" summary="User microposts">
        <%= render :partial => 'shared/feed_item', :collection => @feed_items_last_week %>
      </table>
      <%= render :partial => "shared/hidden_map_inline_edit", :collection => @feed_items_last_week %>
      <div class="apple_pagination" id="pageinfo">
            <!--<%= sanitize(page_entries_info @feed_items_last_week)%> -->
            <%= will_paginate @feed_items_last_week, :container => false %>
      </div>

    </div>
    <% end %>
   <%end%>
  <% end %>
<!--<%end %> -->
</div>

