<div id="setting-error">
 <%= flash[:error] %>
 <%= flash[:warning] %>
 <%= flash[:alert] %> 
 </div>

<%= render :partial => "authentications/authentications" %>


<%= %>
<div id="user_settings" class="Museo-300">
<%= form_for(:user, @user, :url => settings_path, :remote=>true, :html=>{:id=>"settings-user-form"}) do |f| %>

  <p id="setting-user-saved"><p>
  <p><%= f.label :reminder_duration %><br />
  <%= f.text_field :reminder_duration  , :title=>"Enter duration before you want the default reminder. Just add minutes like 5 or 10", :class => "input-tip" %>
  <%= select_tag "reminder_before_what", options_for_select([ "Minutes","Hours","Days" ], "Minutes") %></p>
  <div title="Please select your timezone - this is important unless you want a really screwed notification system.", class = "input-tip"  >
  <p><%= f.label :timezone %><br />
  <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones%>
  </div>
  <div>Share on :<br/>
  <%
  twit_auth = current_user.authentications.find_by_provider('twitter')
  fb_auth = current_user.authentications.find_by_provider('facebook')
  fs_auth = current_user.authentications.find_by_provider('foursquare')
  %>
  <% if twit_auth %>
     <img src="/images/twitter.png"/><%=check_box_tag 'share_twitter', 'yes', current_user.share_twitter %><br/>
  <%else%>
    <img src="/images/twitter.png"/> not authorized.<br/>
  <%end%>
  <% if fb_auth %>
    <img src="/images/facebook-tiny.png"/><%=check_box_tag 'share_facebook', 'yes', current_user.share_facebook %><br/>
  <%else%>
    <img src="/images/facebook-tiny.png"/> not authorized.<br/>
  <%end%>
  <% if fs_auth %>
     <img src="/images/foursquare.png"/><%= check_box_tag 'share_foursquare', 'yes', current_user.share_foursquare %><br/>
  <%else%>
    <img src="/images/foursquare.png"/> not authorized.<br/>
  <% end %>
  </div>
  <%= f.hidden_field :which_form, :value => "other" %>
  <p><%= f.submit "Save Preferences", :class=>"large Museo-300"%></p>
<span id="loading" style="display: none;"><img alt="Ajax-loader" src="/images/ajax-loader.gif" /></span> 

<%end%>
</div>

<div id="change_pwd" class="Museo-300">

 <%= form_for(:user, @user, :url => settings_path, :remote=>true, :html=>{:id=>"settings-pwd-form"}) do |f| %>
  <p><%= f.label "Current Password" %><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
  <%= f.hidden_field :which_form, :value => "password" %>
  <p><%= f.submit "Change my password",:class=>"Museo-300" %></p>
<span id="loading" style="display: none;"><img alt="Ajax-loader" src="/images/ajax-loader.gif" /></span> 

<% end %>
</div>
<%= set_focus_to_id 'user_current_password' %>
<%= clear_id 'user_current_password' %>
<%= error_field params[:param_1] %>
