<div id="sign-in" class="main-background">
          <a href="#signin-form" id="signin-link">Sign-in</a>  or signin using...<br/><br/>
          <a href="/auth/twitter" class="auth_provider"><%= image_tag "social/Twitter_72.png" ,:alt => "Twitter" %></a>
          <a href="/auth/facebook" class="auth_provider"><%= image_tag "social/Facebook_72.png", :alt => "Facebook" %></a>
          <a href="/auth/google" class="auth_provider"><%= image_tag "social/Google_72.png" , :alt => "Google" %></a>
          <a href="/auth/yahoo" class="auth_provider"><%= image_tag "social/Yahoo_72.png" , :alt => "Yahoo" %></a>
          <a href="/auth/foursquare" class="auth_provider"><%= image_tag "social/Foursquare_72.png", :alt => "foursquare" %></a>
<!--          <a href="/auth/open_id" class="auth_provider"><%= image_tag "open_id_32.png", :alt => "OpenID" %></a>

          <a href="/auth/gowalla" class="auth_provider"><%= image_tag "gowalla_32.png", :alt => "gowalla" %></a> -->
</div>

