
  <% if user_signed_in? %>
   <table summary="For signed-in users">
    <tr>
      <td >
        <%= render 'shared/calendar_form' %>
        <%= render 'shared/feed' %>
     </td>
    </tr>
  </table>
  <% else %>

     <%= link_to "Sign up", new_user_registration_path %> or
     <%= link_to "Sign in", new_user_session_path %> or signin using
     <div>
      <a href="/auth/twitter" class="auth_provider"><%= image_tag "twitter_32.png", :size => "32x32",:alt => "Twitter" %></a>
      <a href="/auth/facebook" class="auth_provider"><%= image_tag "facebook_32.png", :size => "32x32", :alt => "Facebook" %></a>
      <a href="/auth/google_apps" class="auth_provider"><%= image_tag "google_32.png", :size => "32x32", :alt => "Google" %></a>
      <a href="/auth/open_id" class="auth_provider"><%= image_tag "open_id_32.png", :size => "32x32",:alt => "OpenID" %></a>
     <div class="clear"></div>
     </div>
  <% end %>

