  <% if user_signed_in? %>
   <table summary="For signed-in users">
    <tr>
      <td >
        <%= render 'shared/calendar_form' %>
        <%= render 'shared/feed' %>
     </td>
    </tr>
  </table>
  <% else %>
     <div class="clear"></div>
	 <!--div id="free"><img src="images/free.png"/></div-->
     <div id="sign-up" class="main-background Museo-300">     	  
          <%= render :partial => "registrations/sign_up_form" %>
          <!--p>or <a id="tour" href="http://vimeo.com/6999927">Take a tour of the features</a></p-->
     </div>
	 

     <%= render :partial => "pages/signin_links" %>
    <div id="details" class="main-background Museo-500">
    <p>Socl is the soc<del>ia</del>l calendar and to-do list. Your calendar events will be posted to your social world(only if you wish). You can easily share your calendar events to Twitter, Facebook, Foursquare and Google Calendar to make sure your social circle is aware of what you are up to. A sophisticated reminder system makes sure that you are always aware of your schedule.</p>
    <hr/>
    Socl is in its early stage - something like a pre-alpha. It would be great if you can suggest new features or report bugs so we can fix them - <a href="http://groups.google.com/group/socl-group">we would love to hear from you.</a>
    <div class="clear"></div>
    </div>

     <div class="clear"></div>
     <div style="display:none">
       <div id="signin-form" class="Museo-300">
       <%= render :partial => "devise/sessions/sign_in_form" %>
       </div>
     </div>
  <% end %>

