<%= form_for (@calendar) do |f| %>
  <div>
    <%= f.label :event%><br />
    <%= f.text_field :event %>
  </div>
  <div>
    <%= f.label :where %><br />
    <%= f.text_field :where %>
  </div>
  <div>
    <%= f.label :when %><br />
    <%= f.datetime_select :when %>
  </div>
  <div>
  <%= f.check_box :important %><b>Important Event ?</b>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

