  <div>
    <%= f.label :event%><br />
    <%= f.text_field :event, :class=>"inline-edit-input" %>
  </div>
  <br />
  <div class="clear"></div>
  <div>
    <%= f.label :event_location %><br />
    <%= f.text_field :event_location %>
  </div>
  <br />
  <div class="clear"></div>
  <div>
    <%= f.label :event_time %><br />
    <%= f.text_field :event_time %>
  </div>
  <br />
  <div class="clear"></div>
  <div>
  <%= f.check_box :important %><b>Important Event ?</b>
  </div>
    <div class="clear"></div>
  <div>
  <%= f.check_box :done %><b>Completed ?</b>
  </div>
  <div>

  <div class="clear"></div>
  <%= f.label :remind_before , :class=>"label-remind-before"%><br/>  <div class="clear"></div>
  <%= f.text_field :remind_before  , :title=>"Enter duration before you want the default reminder. Just add minutes like 5 or 10", :class => "input-tip" %>
  <%= select_tag "reminder_before_what", options_for_select([ "Minutes","Hours","Days" ], "Minutes") %>
  </div>

