<h1><strong>Sign in</h1>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<br/>
<%= form_for(:user, @user, :url => session_path(:user)) do |f| %>
  <p><%= f.label :email %><br /><%= f.text_field :email %> <br/></p>
  <p><%= f.label :password %><br /><%= f.password_field :password %></p>
  <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <p><%= f.submit "Sign in" %></p>
  <%= link_to "Forgot your password?", new_password_path(:user), :class=>"signin-notice" %><br />
<% end %>

