<div id="sign-up">
     <%= render :partial => "sign_in_form" %>  ...or signin using
     <div class="login-using">
      <a href="/auth/twitter" class="auth_provider"><%= image_tag "social/twitter.png", :size => "32x32",:alt => "Twitter" %></a>
      <a href="/auth/facebook" class="auth_provider"><%= image_tag "social/facebook.png", :size => "32x32", :alt => "Facebook" %></a>
      <a href="/auth/google" class="auth_provider"><%= image_tag "social/google.png", :size => "32x32", :alt => "Google" %></a>
      <a href="/auth/open_id" class="auth_provider"><%= image_tag "open_id_32.png", :size => "32x32",:alt => "OpenID" %></a>
      <a href="/auth/foursquare" class="auth_provider"><%= image_tag "foursquare_32.png", :size => "32x32",:alt => "foursquare" %></a>
     <div class="clear"></div>
     </div>
<%= render :partial => "devise/shared/links" %>
</div>
    <div id="details" class="main-background">
    <p>Socl is the soc<del>ia</del>l calendar and to-do list. Your calendar events will be posted to your social world(only if you wish). You can easily share your calendar events to Twitter, Facebook, Foursquare and Google Calendar to make sure your social circle is aware of what you are up to. A sophisticated reminder system makes sure that you are always aware of your schedule.</p>
    <div class="clear"></div>
    </div>

     <div class="clear"></div>

