 <div id="user_nav" class="Museo-300">
   	
   <% if user_signed_in? %>
      <% if ! current_page?(:controller => 'settings', :action => 'home') and ! current_page?(:controller => 'authentications')%>	     
          <div id="search-form">  		
	      <%= form_for @search, :url => root_path, :html => {:method => :get} do |f| %>
		  	<p id="search-form-p">
	    		<%= f.text_field :event_or_event_location_or_category_str_or_note_contains, :class=>"search-box" ,:tabindex => '2500'%>
	        	<%= submit_tag "Search", :name => nil, :id=>"search-submit" %>
	    	</p>
               <%end%>
	  </div>
	  <div id="menu1">
	     <div class="relative">
	     	<a href="/demos" id="dd1" class="dropdown" style="width:170px;text-decoration:none;"><span><%= current_user.email%></span></a>
			  	<div id="dropdown1" class="dropdown-menu">
                                    <%= link_to "Sync with Google", :controller => "g_data", :action => "index" %>
				    <a href="<%=settings_home_path%>" >Settings</a>
				    <a href="<%= destroy_user_session_path %>" >Logout</a>    
	      		        </div>
			</div>
		  </div>
   	  <% end %>
   <% end %>
   
 </div>
 <div class="logo">
  <% logo = image_tag("logo-white-small.png", :alt => "socl.in") %>
  <%= link_to logo, root_path %>
 </div>

