<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,100italic,light,lightitalic,regular,regularitalic,bold,bolditalic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:lightitalic,regular,bold' rel='stylesheet' type='text/css'>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
    <%= javascript_include_tag :all, :cache=>true %>

    <!-- Dev Key
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAO1AbdOVt9zN5lJwJyNcDuhTX2XchcwgyHzp4Xo0DHRAzt2aLjhRSFPmH2rpNoXYunPWQ2jCi3aZflA"></script> -->
     <!-- Production Key -->
     <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAO1AbdOVt9zN5lJwJyNcDuhRrqw-yyShTtPaJJx2neDYyeC-GKhQvPNxYEXKvyFx9eWlUior7ZL8Nsw" type="text/javascript"></script>

    <script type="text/javascript" charset="utf-8" src="http://mapstraction.googlecode.com/svn/trunk/source/mxn.js?(google)"></script>



  </head>
  <body>

   <div class="container">
      <!--Current user: <%= @current_user.email if @current_user %> |
      Current time zone: <%= Time.zone %> |
      Current time: <%= Time.zone.now%> |
      <hr /> -->
      <%= render 'layouts/header' %>

      <div id="error">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
      <section>
        <%= yield %>
      </section>
    </div>
      <div class="ribbon">

       <ul class="social">
		  </ul>
      </div>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>

