<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "humanmsg" %>
    <%= javascript_include_tag "jquery.styleSelect.min" %>
    <%= javascript_include_tag "jquery.jscrollpane.min" %>
    <%= javascript_include_tag "jquery.mousewheel" %>

  </head>
  <body>
   <div class="container">

      <%= render 'layouts/header' %>
      <div id="error">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
      <section>
        <%= yield %>
      </section>
    </div>
      <div class="ribbon">
      <ul class="social">
			  <li class="share"><h3>Subscribe now</h3></li>
			  <li class="rss2"><a href="http://feeds.feedburner.com/tkas">Rss</a></li>
			  <li class="twitter"><a href="http://twitter.com/kickawesomeshow/">Twitter</a></li>
			  <li class="itunes"><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=399691270">iTunes</a></li>
			  <li class="facebook"><a href="http://www.facebook.com/pages/The-Kick-Awesome-Show/132970786753630">Facebook</a></li>
		  </ul>
      </div>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>

